*.class

# Package Files #
*.jar
*.war
*.ear

# directories #
target/
log/

# eclipse related files #
.project
.settings
.classpath

#etc
.DS_Store

#buildinfo.properties
src/main/resources/META-INF/buildinfo.properties
